@model NS_Analytics.ViewModels.ChartViewModel

@{
    ViewBag.Title = "Chart";
}

<div id="chart1"></div>

<script>
    $(document).ready(function () {
        $.jqplot.config.enablePlugins = true;

        var s1 = @Html.Raw(Json.Encode(Model.Values.ToArray()));
        var ticks = @Html.Raw(Json.Encode(Model.XAxis.ToArray()));

        plot1 = $.jqplot('chart1', [s1], {
            // Only animate if we're not using excanvas (not in IE 7 or IE 8)..
            animate: !$.jqplot.use_excanvas,
            seriesDefaults: {
                renderer: $.jqplot.BarRenderer,
                pointLabels: { show: true }
            },
            axes: {
                xaxis: {
                    renderer: $.jqplot.CategoryAxisRenderer,
                    ticks: ticks
                },
                yaxis: {
                    min: 0,
                    max: 100,
                    tickOptions: {
                        formatString: '%d%%'
                    }
                }
            },
            highlighter: { show: false }
        });

        $('#chart1').bind('jqplotDataClick',
            function (ev, seriesIndex, pointIndex, data) {
                $('#info1').html('series: ' + seriesIndex + ', point: ' + pointIndex + ', data: ' + data);
            }
        );
    });
</script>

