@model NS_Analytics.ViewModels.ResultsViewModel


<h2>Charts</h2>

<div class="form-group">
    @Html.Label("Selected Period", new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.DropDownListFor(model => model.AllPeriods.First().Value, Model.AllPeriods, new { id = "dropdown", @class = "form-control" })
    </div>
</div>

@*@Html.Action("Chart", new { periodId = )*@

<br />
<br />

<div id="chartPlaceHolder">

</div>

<script>
    $(document).ready(function () {
        var selectedID = $('#dropdown').val();
        /* Request the partial view with .get request. */
        $.get('/Results/Chart/' + selectedID, function (data) {

            /* data is the pure html returned from action method, load it to your page */
            $('#chartPlaceHolder').html(data);
            /* little fade in effect */
            $('#chartPlaceHolder').fadeIn('fast');
        });
    });

    /* This is change event for your dropdownlist */
    $('#dropdown').change(function () {

        /* Get the selected value of dropdownlist */
        var selectedID = $(this).val();

        /* Request the partial view with .get request. */
        $.get('/Results/Chart/' + selectedID, function (data) {

            /* data is the pure html returned from action method, load it to your page */
            $('#chartPlaceHolder').html(data);
            /* little fade in effect */
            $('#chartPlaceHolder').fadeIn('fast');
        });

    });
</script>



